{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<div class="container mt-5 d-flex align-items-center" style="background-color: #bceafb; border-radius: 10px;">

    <div class="me-4">
        <img src="/static/quiz_logo_large.png" class="img-thumbnail" alt="QuizzzHUB Logo" style="width: 700px;" >
    </div>

    <div class="text-start">
        <h1 class="fw-bold">About QuizzzHUB</h1>

        <p class="text-muted">
            QuizzzHUB is your go-to platform for creating, sharing, and taking fun and interactive quizzes. Whether you're a student, a teacher, or just love trivia, QuizzzHUB makes learning engaging and entertaining.
        </p>
    </div>

</div>
{% endblock %}
